@tailwind base;
@tailwind components;
@tailwind utilities;
.row{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
}
@font-face {
    font-family: gr ;
    src: url(../font/Gupter-Regular.ttf);
}